<p>create-sda works!</p>
<div class="create-sda-container">
  <h1>Crear SDA</h1>
  
  <div class="form-group">
    <label for="title">Títol de la SDA:</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Títol de la SDA"
      class="form-control"
      [(ngModel)]="sda.title"
      required
    />
  </div>

  <div class="form-group">
    <label for="description">Descripció de la SDA:</label>
    <input
      type="text"
      id="description"
      name="description"
      placeholder="Descripció de la SDA"
      class="form-control"
      [(ngModel)]="sda.description"
      required
    />
  </div>

  <div class="form-group">
    <label for="startDate">Data Inici:</label>
    <input
      type="date"
      id="startDate"
      name="startDate"
      class="form-control"
      [(ngModel)]="sda.startDate"
      required
    />
  </div>

  <div class="form-group">
    <label for="endDate">Data Fi:</label>
    <input
      type="date"
      id="endDate"
      name="endDate"
      class="form-control"
      [(ngModel)]="sda.endDate"
      required
    />
  </div>

  <h2>Que es treballarà en la SDA</h2>
  
  <div class="checkbox-group">
    <div *ngFor="let subject of subjects">
      <label>
        <input
          type="checkbox"
          [value]="subject"
          [(ngModel)]="sda.selectedSubjects"
        />
        {{ subject }}
      </label>
    </div>
  </div>

  <button 
    type="button" 
    class="btn btn-primary" >
    Crear SDA
  </button>
</div>
