<div class="create-sda-container">
  <h1>Crear SDA</h1>
  
  <div class="form-group">
    <label for="title">Títol de la SDA:</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Títol de la SDA"
      class="form-control"
      [(ngModel)]="sda.title"
      required
    />
  </div>

  <div class="form-group">
    <label for="description">Descripció de la SDA:</label>
    <input
      type="text"
      id="description"
      name="description"
      placeholder="Descripció de la SDA"
      class="form-control"
      [(ngModel)]="sda.description"
      required
    />
  </div>

  <div class="form-group">
    <label for="startDate">Data Inici:</label>
    <input
      type="date"
      id="startDate"
      name="startDate"
      class="form-control"
      [(ngModel)]="sda.startDate"
      required
    />
  </div>

  <div class="form-group">
    <label for="endDate">Data Fi:</label>
    <input
      type="date"
      id="endDate"
      name="endDate"
      class="form-control"
      [(ngModel)]="sda.endDate"
      required
    />
  </div>

  <div class="form-group">
    <label for="classes">Classe:</label>
    <select
      id="classe"
      name="classe"
      class="form-control"
      [(ngModel)]="sda.selectedClass"
      required
    >
      <option value="" disabled selected>Selecciona un curs</option>
      @for (course of courses; track course) {
        <option>{{ course }}</option>
      }
    </select>
  </div>
  
  <div class="form-group">
    <label for="group">Grup:</label>
    <select
      id="group"
      name="group"
      class="form-control"
      [(ngModel)]="sda.selectedGroup"
      [disabled]='this.groupIsDisabled()'
      required
    >
      <option value="" disabled selected>Selecciona un grup</option>
      @for (group of groups; track group) {
        <option>{{ group }}</option>
      }
    </select>
  </div>
  

  <h2>Que es treballarà en la SDA</h2>
  
  <div class="checkbox-group">
      @for(subject of subjects; track subject){
        <div>
          <label>
            <input
              type="checkbox"
              [value]="subject"
              (change)="onCheckboxChange($event)"
            />
            {{ subject }}
          </label>
        </div>
      } 
  </div>
  

  <button 
  type="button" 
  class="btn btn-primary" 
  [disabled]="!isFormValid() || sdaCreated"
  (click)="createSda()">
  Crear SDA
  </button>
  @if(this.sdaCreated){
      <p>SDA Creat correctament</p>
  }@else if(!sdaCreated && sdaCreated !== undefined) {
    <p>Error al crear l'SDA</p>
  }
</div>
