<!-- @for (competencyType of this.competencyTypesList; track competencyType) {
<h1>Comp Type: {{ competencyType.Description }}</h1>

@for (competencyName of filterCompetencyNameById(competencyType.UUID); track
competencyName) {

<strong>PART 1</strong>
<h2>CompName: {{ competencyName.Description }}</h2>

@for (competencyDescription of
filterCompetencyDescriptionById(competencyName.UUID); track
competencyDescription) {

<h3>CompDescription: {{ competencyDescription.Descripcion }}</h3>

@for (criteri of filterCriteriaById(competencyDescription.UUID); track criteri)
{
<p style="color: blue">CompCriteri: {{ criteri.Description }}</p>
}

<p>-- > here</p>

@for (SaberDescription of filterSabersDescriptionById(competencyName.UUID);
track SaberDescription) {
<h3>Sabers: {{ SaberDescription.Description }}</h3>

@for (Sabercriteri of filterSaberCriteriaById(SaberDescription.UUID); track
Sabercriteri) {
<p style="color: blue">SabCriteri: {{ Sabercriteri.Description }}</p>
} } } } }
 -->
<!-- @for ( competencyType of this.competencyTypesList; track competencyType) {

<h1>Comp Type : {{ competencyType.Description }}</h1>

@for ( competencyName of filterCompetencyNameById(competencyType.UUID); track
competencyName) {
<strong>PART 1 </strong>
<h2>CompName : {{ competencyName.Description }}</h2>
<div style="border: 5px solid black">
  @for ( competencyDescription of
  filterCompetencyDescriptionById(competencyName.UUID); track
  competencyDescription) {
  <h3>ComptDescription : {{ competencyDescription.Descripcion }}</h3>

  @for ( criteri of filterCriteriaById(competencyDescription.UUID); track
  criteri) {
  <p style="color: blue">CompCriteri : {{ criteri.Description }}</p>

  } }
</div>
<div style="border: 5px solid black">
  @for ( SaberDescription of
  filterSabersDescriptionById(competencyName.UUID);track SaberDescription ) {
  <h3>Sabers Description : {{ SaberDescription.Description }}</h3>

  @for ( Sabercriteri of filterSaberCriteriaById(SaberDescription.UUID); track
  Sabercriteri) {
  <p style="color: blue">saber Criteri : {{ Sabercriteri.Description }}</p>

  } }
</div>
} } -->
<div class="competency-types">
  @for (competencyType of this.competencyTypesList; track competencyType) {
  <div class="competency-type">
    <h1 style="color: cadetblue">
      Comp Type: {{ competencyType.Description }}
    </h1>
    <div class="content">
      @for (competencyName of filterCompetencyNameById(competencyType.UUID);
      track competencyName) {
      <div class="competency-name">
        <h2 style="color: greenyellow">
          COMP NAME : {{ competencyName.Description }}
        </h2>

        <div class="content">
          <div class="descriptions-criteria">
            @for (competencyDescription of
            filterCompetencyDescriptionById(competencyName.UUID); track
            competencyDescription) {
            <div class="description" style="color: blue; font-size: 25px">
              <label>
                <input
                  type="checkbox"
                  [checked]="
                    getValBySdaPl(
                      'nothing',
                      competencyDescription.UUID,
                      'CompetencyDescription_Val'
                    )
                  "
                  (change)="onCheckboxChange()"
                />

                CompDescription: {{ competencyDescription.Descripcion }}
              </label>

              <div class="criteria">
                @for (criteri of filterCriteriaById(competencyDescription.UUID);
                track criteri) {
                <p
                  class="comp-criteri"
                  style="font-size: medium; color: cadetblue"
                >
                  <label>
                    <input
                      type="checkbox"
                      [checked]="
                        getValBySdaPl('nothing', criteri.UUID, 'Criteria_Val')

                      "
                      (change)="onCheckboxChange()"
                    />
                    CompCriteri: {{ criteri.Description }}
                  </label>

                  CompCriteri: {{ criteri.Description }}
                </p>
                }
              </div>
            </div>
            }
          </div>
          <div class="sabers">
            @for (SaberDescription of
            filterSabersDescriptionById(competencyName.UUID); track
            SaberDescription) {
            <div class="saber-description">
              <h3 style="color: blue">
                Sabers: {{ SaberDescription.Description }}
              </h3>
              <div class="saber-criteria">
                @for (Sabercriteri of
                filterSaberCriteriaById(SaberDescription.UUID); track
                Sabercriteri) {
                <p class="saber-criteri">
                  SabCriteri: {{ Sabercriteri.Description }}
                </p>
                }
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
