
USE [RegistreCurricular]
INSERT [dbo].[Centre] ([UUID], [LogoUrl], [Municipality], [NomCentre]) VALUES (N'b674b1ea-948e-4c5e-8e1a-9a5de3f6c631', N'https://example.com/logo1.png', NULL, N'Centre One')
GO
INSERT [dbo].[CompetencyDescription_Pl] ([UUID], [UUID_CompetencyName], [Descripcion]) VALUES (N'beffdaa8-ff0d-4bb6-9be8-038fbe462535', N'9aaea337-58ae-4f5f-957b-b0948173f615', N'Traduir problemes i interpretar situacions quotidianes fent-ne una representació matemàtica personal a través de conceptes, eines i estratègies per analitzar-ne els elements més rellevants.')
INSERT [dbo].[CompetencyDescription_Pl] ([UUID], [UUID_CompetencyName], [Descripcion]) VALUES (N'bbfa23f3-4240-4f29-bdd9-089faedd980b', N'176fa1d1-9279-44d8-acbb-52a15699e092', N'Descobrir propostes artístiques de diferents cultures, èpoques i estils, mitjançant la percepció i la vivència, per desenvolupar la curiositat, el respecte i el gaudi.')
INSERT [dbo].[CompetencyDescription_Pl] ([UUID], [UUID_CompetencyName], [Descripcion]) VALUES (N'044dd590-4b57-439d-9daf-08b73f86d77d', N'f368aa61-9781-4632-8dc3-24792c2266f0', N'Comprendre la diversitat lingüística i cultural a partir del reconeixement de les llengües de l''alumnat i la realitat plurilingüe, pluricultural i intercultural, per afavorir la transferència lingüística, identificar i rebutjar estereotips i prejudicis lingüístics, i valorar aquesta diversitat com a font de riquesa cultural.')
GO
INSERT [dbo].[CompetencyDescription_Val] ([UUID], [UUID_CompetencyDescription_Pl], [Treballat], [UUID_Sda]) VALUES (N'5f4cdb45-bb94-41ad-89c4-037c882539f0', N'414144ff-a2ca-4e48-ac64-93c5cd0b5ee8', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
INSERT [dbo].[CompetencyDescription_Val] ([UUID], [UUID_CompetencyDescription_Pl], [Treballat], [UUID_Sda]) VALUES (N'224c9327-88ba-4945-affa-070c30cffd85', N'2b2bcce2-4c17-4cda-9259-6a1d24032728', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
INSERT [dbo].[CompetencyDescription_Val] ([UUID], [UUID_CompetencyDescription_Pl], [Treballat], [UUID_Sda]) VALUES (N'9ebcff7b-4844-49d2-8a7a-0e204332aedc', N'2b040d04-4796-4259-a96b-e4d18abc78d3', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
GO
INSERT [dbo].[CompetencyName_Pl] ([UUID], [UUID_CompetencyType], [Description], [Tipo]) VALUES (N'f368aa61-9781-4632-8dc3-24792c2266f0', N'f1d28feb-9507-4ca1-875d-da9a995c76d1', N'Llengua estrangera, 1a', NULL)
INSERT [dbo].[CompetencyName_Pl] ([UUID], [UUID_CompetencyType], [Description], [Tipo]) VALUES (N'42c03605-0543-4faf-87fb-2de9850066ec', N'f1d28feb-9507-4ca1-875d-da9a995c76d1', N'Coneixement del medi natural, social i cultural', NULL)
INSERT [dbo].[CompetencyName_Pl] ([UUID], [UUID_CompetencyType], [Description], [Tipo]) VALUES (N'c1d33c7e-413f-415e-a50d-4fa5fb88fabc', N'f1d28feb-9507-4ca1-875d-da9a995c76d1', N'Llengua catalana i castellana', NULL)
GO
INSERT [dbo].[CompetencyType_Pl] ([UUID], [UUID_Plantilla], [Description]) VALUES (N'979755ef-21ac-4a70-a746-66e18879e914', N'1da7bedb-afe3-4bfb-9e21-ca400409b458', N'COMPETÈNCIES TRANSVERSALS ')
INSERT [dbo].[CompetencyType_Pl] ([UUID], [UUID_Plantilla], [Description]) VALUES (N'f1d28feb-9507-4ca1-875d-da9a995c76d1', N'1da7bedb-afe3-4bfb-9e21-ca400409b458', N'COMPETÈNCIES ESPECÍFIQUES')
GO
INSERT [dbo].[Criteria_Pl] ([UUID], [UUID_CompetencyDescription], [Description]) VALUES (N'0c7f9483-5a52-4bd1-bf85-00176500875c', N'59ba9678-1d07-4f85-973d-a0d2aad3a11d', N'Identificar situacions o comportaments d’equitat, d’igualtat de gènere i de conductes no sexistes reconeixent referents diversos, en l’entorn pròxim.')
INSERT [dbo].[Criteria_Pl] ([UUID], [UUID_CompetencyDescription], [Description]) VALUES (N'3670629c-13cc-48d0-93c1-00b4bcadc833', N'd31e8cd8-a7b0-4026-a9ff-4c6e0f4c7b62', N'Produir textos orals i multimodals coherents a partir d’una situació comunicativa propera (vivències, fets i aprenentatges), amb planificació acompanyada, adaptant el to de veu i el gest a la situació, i utilitzant recursos no verbals elementals i elements de suport.')
INSERT [dbo].[Criteria_Pl] ([UUID], [UUID_CompetencyDescription], [Description]) VALUES (N'3a9c224d-3624-45f7-a037-00ccf055e701', N'afc4eb57-9eea-446e-b733-6496d288407f', N'Comunicar els resultats d''un procés d''investigació, individual o grupal, realitzat de forma acompanyada, sobre temes propers i d’interès personal.')
GO
INSERT [dbo].[Criteria_Val] ([UUID], [UUID_Criteria_Pl], [Treballat], [UUID_Sda]) VALUES (N'43642116-9df9-491c-8073-03c2848193ec', N'8a680528-8d1f-4757-a899-7f23a6591c9d', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
INSERT [dbo].[Criteria_Val] ([UUID], [UUID_Criteria_Pl], [Treballat], [UUID_Sda]) VALUES (N'b90587af-b958-4e47-81e4-0425ca6a4e52', N'4a1472d2-951c-419d-a1bd-4e99a0ab43fb', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
INSERT [dbo].[Criteria_Val] ([UUID], [UUID_Criteria_Pl], [Treballat], [UUID_Sda]) VALUES (N'c9d9970b-fbe2-426d-a789-04b3a2d19173', N'87add72e-4670-4359-a375-a2dae42b7611', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
GO
INSERT [dbo].[Curs_Pl] ([UUID], [Curs]) VALUES (N'0f989f51-8cbd-4581-ad40-b7497bf33d54', N'1r-2n')
INSERT [dbo].[Curs_Pl] ([UUID], [Curs]) VALUES (N'cfe21cd4-0ae5-447d-9bd0-c5e5984bf1a7', N'5è-6è')
INSERT [dbo].[Curs_Pl] ([UUID], [Curs]) VALUES (N'fb609b52-ad0c-42c7-9705-fee148a9120f', N'3r-4t')
GO
INSERT [dbo].[GroupTable] ([UUID], [UUID_Centre], [Letter], [UUID_Curs]) VALUES (N'd4f7a1b8-6f3c-49b9-ba9e-8f1c5a2b9c8e', N'b674b1ea-948e-4c5e-8e1a-9a5de3f6c631', NULL, N'0f989f51-8cbd-4581-ad40-b7497bf33d54')
GO
INSERT [dbo].[Plantilla_Pl] ([UUID], [UUID_Curs], [Active], [Name]) VALUES (N'1da7bedb-afe3-4bfb-9e21-ca400409b458', N'0f989f51-8cbd-4581-ad40-b7497bf33d54', 1, N'1-25')
GO
INSERT [dbo].[SaberCriteria_Pl] ([UUID], [UUID_SabersDescription], [Description]) VALUES (N'6521a6fc-d281-4f14-8b0c-004ce322f82b', N'bb2e12ec-203e-44f9-bf1e-1f5e1364c0fd', N'Ús de models textuals elementals (narració, descripció, diàleg i exposició) en les produccions orals, de forma progressivament autònoma.')
INSERT [dbo].[SaberCriteria_Pl] ([UUID], [UUID_SabersDescription], [Description]) VALUES (N'0e6dc576-fe27-4286-b63a-028b4f50258a', N'a449cdc0-1c58-47f7-b8b7-bca5a36d926a', N'Agrupació d’elements a partir de semblances i diferències d’objectes, en aspectes diversos, i ordenació seguint criteris qualitatius i quantitatius.')
INSERT [dbo].[SaberCriteria_Pl] ([UUID], [UUID_SabersDescription], [Description]) VALUES (N'970aead4-70d8-461b-b3ae-03267b6f6ff2', N'9731ec8d-632b-4600-8be1-a9c37373fa04', N'Utilització de la biblioteca i dels recursos digitals de l’aula i del centre, amb guiatge, per dur a terme treballs d’investigació.')
GO
INSERT [dbo].[SaberCriteria_Val] ([UUID], [UUID_SaberCriteria_Pl], [Treballat], [UUID_Sda]) VALUES (N'94bb8edd-34d3-4874-908e-001c94ad6f5b', N'b171ce4c-a5eb-420a-a66d-964c3ae68562', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
INSERT [dbo].[SaberCriteria_Val] ([UUID], [UUID_SaberCriteria_Pl], [Treballat], [UUID_Sda]) VALUES (N'5d2ac305-00b0-441e-b6a4-0138cf75a1ef', N'ac64f8f6-16d0-49bf-b2c2-95dbc3df69aa', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
INSERT [dbo].[SaberCriteria_Val] ([UUID], [UUID_SaberCriteria_Pl], [Treballat], [UUID_Sda]) VALUES (N'fa751f72-0362-43f7-a4a7-01ea32dc4c47', N'cd524e90-4171-48da-8301-1cafe74f326c', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
GO
INSERT [dbo].[SabersDescription_Pl] ([UUID], [Description], [UUID_CompetencyName]) VALUES (N'2656dc3b-280b-422d-8f39-00912fb4be3e', N'Les llengües i els seus parlants.', N'f368aa61-9781-4632-8dc3-24792c2266f0')
INSERT [dbo].[SabersDescription_Pl] ([UUID], [Description], [UUID_CompetencyName]) VALUES (N'50359813-32f7-4c43-9f03-034ca5bef919', N'Educació musical. Percepció i anàlisi.', N'176fa1d1-9279-44d8-acbb-52a15699e092')
INSERT [dbo].[SabersDescription_Pl] ([UUID], [Description], [UUID_CompetencyName]) VALUES (N'5f9dc9c8-f0de-432b-ac12-05ffc0465940', N'Cultura científica. Iniciació a l’activitat científica.', N'42c03605-0543-4faf-87fb-2de9850066ec')
GO
INSERT [dbo].[SabersDescription_Val] ([UUID], [UUID_SabersDescription_Pl], [Treballat], [UUID_Sda]) VALUES (N'4544e6b9-2f77-47d7-a004-0199a27df035', N'6985ed7f-feef-444f-b452-955d2ef63592', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
INSERT [dbo].[SabersDescription_Val] ([UUID], [UUID_SabersDescription_Pl], [Treballat], [UUID_Sda]) VALUES (N'4127745b-dc18-47e7-bff7-04951cc5e191', N'43d1b25d-ba4e-4480-ad66-d99dd7143cb3', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
INSERT [dbo].[SabersDescription_Val] ([UUID], [UUID_SabersDescription_Pl], [Treballat], [UUID_Sda]) VALUES (N'29782965-8677-40dc-9dbb-0619678babe6', N'9600a10a-4e55-4a9b-885a-181d106157f7', 0, N'da5827d6-2d00-45c8-8d8b-93d47b90f957')
GO
INSERT [dbo].[Sda_Val] ([UUID], [UUID_Plantilla], [UUID_Group], [endDate], [description], [tittle], [UUID_Center], [active], [startDate]) VALUES (N'da5827d6-2d00-45c8-8d8b-93d47b90f957', N'1da7bedb-afe3-4bfb-9e21-ca400409b458', N'd4f7a1b8-6f3c-49b9-ba9e-8f1c5a2b9c8e', CAST(N'2025-01-02' AS Date), N'Descripció de prova', N'Prova Nil', N'b674b1ea-948e-4c5e-8e1a-9a5de3f6c631', N'1', CAST(N'2024-12-18' AS Date))
GO
INSERT [dbo].[UserTable] ([UUID], [Username], [Email], [Password]) VALUES (N'8d7a8ae7-3c0f-4263-ae35-27f1e1b35e6b', N'JohnDoe', N'john.doe@example.com', N'password123')
GO
INSERT [dbo].[Vectors_Pl] ([UUID], [UUID_Plantilla], [Description]) VALUES (N'738aab0c-9644-465b-860f-1f4288bf3241', N'1da7bedb-afe3-4bfb-9e21-ca400409b458', N'Qualitat de l''educació de les llengües')
INSERT [dbo].[Vectors_Pl] ([UUID], [UUID_Plantilla], [Description]) VALUES (N'e1d2adfe-f7bb-4dc0-9733-7413989c95b7', N'1da7bedb-afe3-4bfb-9e21-ca400409b458', N'Perspectiva de gènere')
INSERT [dbo].[Vectors_Pl] ([UUID], [UUID_Plantilla], [Description]) VALUES (N'fb1f753a-452e-437c-bc3c-77a667e29a4f', N'1da7bedb-afe3-4bfb-9e21-ca400409b458', N'Universalitat del currículum')
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Centre__UUID__6FE99F9F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Centre] ADD  CONSTRAINT [DF__Centre__UUID__6FE99F9F]  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Competency__UUID__70DDC3D8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CompetencyDescription_Pl] ADD  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Competency__UUID__71D1E811]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CompetencyDescription_Val] ADD  CONSTRAINT [DF__Competency__UUID__71D1E811]  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Competency__UUID__72C60C4A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CompetencyName_Pl] ADD  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Competency__UUID__73BA3083]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CompetencyName_Val] ADD  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Competency__UUID__74AE54BC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CompetencyType_Pl] ADD  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Competency__UUID__75A278F5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CompetencyType_Val] ADD  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Criteria_P__UUID__76969D2E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Criteria_Pl] ADD  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Criteria_V__UUID__778AC167]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Criteria_Val] ADD  CONSTRAINT [DF__Criteria_V__UUID__778AC167]  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Curs_Pl__UUID__787EE5A0]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Curs_Pl] ADD  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GroupTable__UUID__797309D9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GroupTable] ADD  CONSTRAINT [DF__GroupTable__UUID__797309D9]  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Plantilla___UUID__7A672E12]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Plantilla_Pl] ADD  CONSTRAINT [DF__Plantilla___UUID__7A672E12]  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__SaberCrit__UUID___7B5B524B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SaberCriteria_Pl] ADD  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__SaberCrite__UUID__7C4F7684]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SaberCriteria_Val] ADD  CONSTRAINT [DF__SaberCrite__UUID__7C4F7684]  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__SabersDesc__UUID__7D439ABD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SabersDescription_Pl] ADD  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__SabersDesc__UUID__7E37BEF6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SabersDescription_Val] ADD  CONSTRAINT [DF__SabersDesc__UUID__7E37BEF6]  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Sda_Val__UUID__7F2BE32F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Sda_Val] ADD  CONSTRAINT [DF__Sda_Val__UUID__7F2BE32F]  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__UserTable__UUID__00200768]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserTable] ADD  CONSTRAINT [DF__UserTable__UUID__00200768]  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Vectors_Pl__UUID__01142BA1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Vectors_Pl] ADD  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Vectors_Va__UUID__02084FDA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Vectors_Val] ADD  CONSTRAINT [DF__Vectors_Va__UUID__02084FDA]  DEFAULT (newid()) FOR [UUID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Competenc__UUID___03F0984C]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyDescription_Pl]'))
ALTER TABLE [dbo].[CompetencyDescription_Pl]  WITH CHECK ADD FOREIGN KEY([UUID_CompetencyName])
REFERENCES [dbo].[CompetencyName_Pl] ([UUID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompetencyDescription_Val_CompetencyDescription_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyDescription_Val]'))
ALTER TABLE [dbo].[CompetencyDescription_Val]  WITH CHECK ADD  CONSTRAINT [FK_CompetencyDescription_Val_CompetencyDescription_Pl] FOREIGN KEY([UUID_CompetencyDescription_Pl])
REFERENCES [dbo].[CompetencyDescription_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompetencyDescription_Val_CompetencyDescription_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyDescription_Val]'))
ALTER TABLE [dbo].[CompetencyDescription_Val] CHECK CONSTRAINT [FK_CompetencyDescription_Val_CompetencyDescription_Pl]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompetencyDescription_Val_Sda_Val]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyDescription_Val]'))
ALTER TABLE [dbo].[CompetencyDescription_Val]  WITH CHECK ADD  CONSTRAINT [FK_CompetencyDescription_Val_Sda_Val] FOREIGN KEY([UUID_Sda])
REFERENCES [dbo].[Sda_Val] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompetencyDescription_Val_Sda_Val]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyDescription_Val]'))
ALTER TABLE [dbo].[CompetencyDescription_Val] CHECK CONSTRAINT [FK_CompetencyDescription_Val_Sda_Val]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompetencyDescription_Val_To_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyDescription_Val]'))
ALTER TABLE [dbo].[CompetencyDescription_Val]  WITH CHECK ADD  CONSTRAINT [FK_CompetencyDescription_Val_To_Pl] FOREIGN KEY([UUID_CompetencyDescription_Pl])
REFERENCES [dbo].[CompetencyDescription_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompetencyDescription_Val_To_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyDescription_Val]'))
ALTER TABLE [dbo].[CompetencyDescription_Val] CHECK CONSTRAINT [FK_CompetencyDescription_Val_To_Pl]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Competenc__UUID___05D8E0BE]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyName_Pl]'))
ALTER TABLE [dbo].[CompetencyName_Pl]  WITH CHECK ADD FOREIGN KEY([UUID_CompetencyType])
REFERENCES [dbo].[CompetencyType_Pl] ([UUID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Competenc__UUID___06CD04F7]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyName_Val]'))
ALTER TABLE [dbo].[CompetencyName_Val]  WITH CHECK ADD FOREIGN KEY([UUID_CompetencyType])
REFERENCES [dbo].[CompetencyType_Val] ([UUID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Competenc__UUID___07C12930]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyType_Pl]'))
ALTER TABLE [dbo].[CompetencyType_Pl]  WITH CHECK ADD  CONSTRAINT [FK__Competenc__UUID___07C12930] FOREIGN KEY([UUID_Plantilla])
REFERENCES [dbo].[Plantilla_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Competenc__UUID___07C12930]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyType_Pl]'))
ALTER TABLE [dbo].[CompetencyType_Pl] CHECK CONSTRAINT [FK__Competenc__UUID___07C12930]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompetencyType_Val_Sda_Val]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyType_Val]'))
ALTER TABLE [dbo].[CompetencyType_Val]  WITH CHECK ADD  CONSTRAINT [FK_CompetencyType_Val_Sda_Val] FOREIGN KEY([UUID_Sda])
REFERENCES [dbo].[Sda_Val] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CompetencyType_Val_Sda_Val]') AND parent_object_id = OBJECT_ID(N'[dbo].[CompetencyType_Val]'))
ALTER TABLE [dbo].[CompetencyType_Val] CHECK CONSTRAINT [FK_CompetencyType_Val_Sda_Val]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Criteria___UUID___09A971A2]') AND parent_object_id = OBJECT_ID(N'[dbo].[Criteria_Pl]'))
ALTER TABLE [dbo].[Criteria_Pl]  WITH CHECK ADD FOREIGN KEY([UUID_CompetencyDescription])
REFERENCES [dbo].[CompetencyDescription_Pl] ([UUID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Criteria_Val_Criteria_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[Criteria_Val]'))
ALTER TABLE [dbo].[Criteria_Val]  WITH CHECK ADD  CONSTRAINT [FK_Criteria_Val_Criteria_Pl] FOREIGN KEY([UUID_Criteria_Pl])
REFERENCES [dbo].[Criteria_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Criteria_Val_Criteria_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[Criteria_Val]'))
ALTER TABLE [dbo].[Criteria_Val] CHECK CONSTRAINT [FK_Criteria_Val_Criteria_Pl]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Criteria_Val_Sda_Val]') AND parent_object_id = OBJECT_ID(N'[dbo].[Criteria_Val]'))
ALTER TABLE [dbo].[Criteria_Val]  WITH CHECK ADD  CONSTRAINT [FK_Criteria_Val_Sda_Val] FOREIGN KEY([UUID_Sda])
REFERENCES [dbo].[Sda_Val] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Criteria_Val_Sda_Val]') AND parent_object_id = OBJECT_ID(N'[dbo].[Criteria_Val]'))
ALTER TABLE [dbo].[Criteria_Val] CHECK CONSTRAINT [FK_Criteria_Val_Sda_Val]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__GroupTabl__UUID___0B91BA14]') AND parent_object_id = OBJECT_ID(N'[dbo].[GroupTable]'))
ALTER TABLE [dbo].[GroupTable]  WITH CHECK ADD  CONSTRAINT [FK__GroupTabl__UUID___0B91BA14] FOREIGN KEY([UUID_Centre])
REFERENCES [dbo].[Centre] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__GroupTabl__UUID___0B91BA14]') AND parent_object_id = OBJECT_ID(N'[dbo].[GroupTable]'))
ALTER TABLE [dbo].[GroupTable] CHECK CONSTRAINT [FK__GroupTabl__UUID___0B91BA14]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__GroupTabl__UUID___0C85DE4D]') AND parent_object_id = OBJECT_ID(N'[dbo].[GroupTable]'))
ALTER TABLE [dbo].[GroupTable]  WITH CHECK ADD  CONSTRAINT [FK__GroupTabl__UUID___0C85DE4D] FOREIGN KEY([UUID_Curs])
REFERENCES [dbo].[Curs_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__GroupTabl__UUID___0C85DE4D]') AND parent_object_id = OBJECT_ID(N'[dbo].[GroupTable]'))
ALTER TABLE [dbo].[GroupTable] CHECK CONSTRAINT [FK__GroupTabl__UUID___0C85DE4D]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelacioUserCenter_Centre]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelacioUserCenter]'))
ALTER TABLE [dbo].[RelacioUserCenter]  WITH CHECK ADD  CONSTRAINT [FK_RelacioUserCenter_Centre] FOREIGN KEY([UUID_Center])
REFERENCES [dbo].[Centre] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelacioUserCenter_Centre]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelacioUserCenter]'))
ALTER TABLE [dbo].[RelacioUserCenter] CHECK CONSTRAINT [FK_RelacioUserCenter_Centre]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelacioUserCenter_UserTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelacioUserCenter]'))
ALTER TABLE [dbo].[RelacioUserCenter]  WITH CHECK ADD  CONSTRAINT [FK_RelacioUserCenter_UserTable] FOREIGN KEY([UUID_User])
REFERENCES [dbo].[UserTable] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelacioUserCenter_UserTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelacioUserCenter]'))
ALTER TABLE [dbo].[RelacioUserCenter] CHECK CONSTRAINT [FK_RelacioUserCenter_UserTable]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RelacioUs__UUID___0D7A0286]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelacioUserSda]'))
ALTER TABLE [dbo].[RelacioUserSda]  WITH CHECK ADD  CONSTRAINT [FK__RelacioUs__UUID___0D7A0286] FOREIGN KEY([UUID_User])
REFERENCES [dbo].[UserTable] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RelacioUs__UUID___0D7A0286]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelacioUserSda]'))
ALTER TABLE [dbo].[RelacioUserSda] CHECK CONSTRAINT [FK__RelacioUs__UUID___0D7A0286]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RelacioUs__UUID___0E6E26BF]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelacioUserSda]'))
ALTER TABLE [dbo].[RelacioUserSda]  WITH CHECK ADD  CONSTRAINT [FK__RelacioUs__UUID___0E6E26BF] FOREIGN KEY([UUID_Sda])
REFERENCES [dbo].[Sda_Val] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__RelacioUs__UUID___0E6E26BF]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelacioUserSda]'))
ALTER TABLE [dbo].[RelacioUserSda] CHECK CONSTRAINT [FK__RelacioUs__UUID___0E6E26BF]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaberCriteria_Pl_SabersDescription_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaberCriteria_Pl]'))
ALTER TABLE [dbo].[SaberCriteria_Pl]  WITH CHECK ADD  CONSTRAINT [FK_SaberCriteria_Pl_SabersDescription_Pl] FOREIGN KEY([UUID_SabersDescription])
REFERENCES [dbo].[SabersDescription_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaberCriteria_Pl_SabersDescription_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaberCriteria_Pl]'))
ALTER TABLE [dbo].[SaberCriteria_Pl] CHECK CONSTRAINT [FK_SaberCriteria_Pl_SabersDescription_Pl]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaberCriteria_Val_SaberCriteria_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaberCriteria_Val]'))
ALTER TABLE [dbo].[SaberCriteria_Val]  WITH CHECK ADD  CONSTRAINT [FK_SaberCriteria_Val_SaberCriteria_Pl] FOREIGN KEY([UUID_SaberCriteria_Pl])
REFERENCES [dbo].[SaberCriteria_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaberCriteria_Val_SaberCriteria_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaberCriteria_Val]'))
ALTER TABLE [dbo].[SaberCriteria_Val] CHECK CONSTRAINT [FK_SaberCriteria_Val_SaberCriteria_Pl]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaberCriteria_Val_Sda_Val]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaberCriteria_Val]'))
ALTER TABLE [dbo].[SaberCriteria_Val]  WITH CHECK ADD  CONSTRAINT [FK_SaberCriteria_Val_Sda_Val] FOREIGN KEY([UUID_Sda])
REFERENCES [dbo].[Sda_Val] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaberCriteria_Val_Sda_Val]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaberCriteria_Val]'))
ALTER TABLE [dbo].[SaberCriteria_Val] CHECK CONSTRAINT [FK_SaberCriteria_Val_Sda_Val]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SabersDescription_CompetencyName]') AND parent_object_id = OBJECT_ID(N'[dbo].[SabersDescription_Pl]'))
ALTER TABLE [dbo].[SabersDescription_Pl]  WITH CHECK ADD  CONSTRAINT [FK_SabersDescription_CompetencyName] FOREIGN KEY([UUID_CompetencyName])
REFERENCES [dbo].[CompetencyName_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SabersDescription_CompetencyName]') AND parent_object_id = OBJECT_ID(N'[dbo].[SabersDescription_Pl]'))
ALTER TABLE [dbo].[SabersDescription_Pl] CHECK CONSTRAINT [FK_SabersDescription_CompetencyName]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SabersDescription_Val_SabersDescription_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[SabersDescription_Val]'))
ALTER TABLE [dbo].[SabersDescription_Val]  WITH CHECK ADD  CONSTRAINT [FK_SabersDescription_Val_SabersDescription_Pl] FOREIGN KEY([UUID_SabersDescription_Pl])
REFERENCES [dbo].[SabersDescription_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SabersDescription_Val_SabersDescription_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[SabersDescription_Val]'))
ALTER TABLE [dbo].[SabersDescription_Val] CHECK CONSTRAINT [FK_SabersDescription_Val_SabersDescription_Pl]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Sda_Val__UUID_Group]') AND parent_object_id = OBJECT_ID(N'[dbo].[Sda_Val]'))
ALTER TABLE [dbo].[Sda_Val]  WITH CHECK ADD  CONSTRAINT [FK__Sda_Val__UUID_Group] FOREIGN KEY([UUID_Group])
REFERENCES [dbo].[GroupTable] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Sda_Val__UUID_Group]') AND parent_object_id = OBJECT_ID(N'[dbo].[Sda_Val]'))
ALTER TABLE [dbo].[Sda_Val] CHECK CONSTRAINT [FK__Sda_Val__UUID_Group]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Sda_Val__UUID_Pl__1332DBDC]') AND parent_object_id = OBJECT_ID(N'[dbo].[Sda_Val]'))
ALTER TABLE [dbo].[Sda_Val]  WITH CHECK ADD  CONSTRAINT [FK__Sda_Val__UUID_Pl__1332DBDC] FOREIGN KEY([UUID_Plantilla])
REFERENCES [dbo].[Plantilla_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Sda_Val__UUID_Pl__1332DBDC]') AND parent_object_id = OBJECT_ID(N'[dbo].[Sda_Val]'))
ALTER TABLE [dbo].[Sda_Val] CHECK CONSTRAINT [FK__Sda_Val__UUID_Pl__1332DBDC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Sda_Val_Centre]') AND parent_object_id = OBJECT_ID(N'[dbo].[Sda_Val]'))
ALTER TABLE [dbo].[Sda_Val]  WITH CHECK ADD  CONSTRAINT [FK_Sda_Val_Centre] FOREIGN KEY([UUID_Center])
REFERENCES [dbo].[Centre] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Sda_Val_Centre]') AND parent_object_id = OBJECT_ID(N'[dbo].[Sda_Val]'))
ALTER TABLE [dbo].[Sda_Val] CHECK CONSTRAINT [FK_Sda_Val_Centre]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Vectors_P__UUID___14270015]') AND parent_object_id = OBJECT_ID(N'[dbo].[Vectors_Pl]'))
ALTER TABLE [dbo].[Vectors_Pl]  WITH CHECK ADD  CONSTRAINT [FK__Vectors_P__UUID___14270015] FOREIGN KEY([UUID_Plantilla])
REFERENCES [dbo].[Plantilla_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Vectors_P__UUID___14270015]') AND parent_object_id = OBJECT_ID(N'[dbo].[Vectors_Pl]'))
ALTER TABLE [dbo].[Vectors_Pl] CHECK CONSTRAINT [FK__Vectors_P__UUID___14270015]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Vectors_V__UUID___151B244E]') AND parent_object_id = OBJECT_ID(N'[dbo].[Vectors_Val]'))
ALTER TABLE [dbo].[Vectors_Val]  WITH CHECK ADD  CONSTRAINT [FK__Vectors_V__UUID___151B244E] FOREIGN KEY([UUID_Sda])
REFERENCES [dbo].[Sda_Val] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Vectors_V__UUID___151B244E]') AND parent_object_id = OBJECT_ID(N'[dbo].[Vectors_Val]'))
ALTER TABLE [dbo].[Vectors_Val] CHECK CONSTRAINT [FK__Vectors_V__UUID___151B244E]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Vectors_Val_Vectors_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[Vectors_Val]'))
ALTER TABLE [dbo].[Vectors_Val]  WITH CHECK ADD  CONSTRAINT [FK_Vectors_Val_Vectors_Pl] FOREIGN KEY([UUID_Vectors_Pl])
REFERENCES [dbo].[Vectors_Pl] ([UUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Vectors_Val_Vectors_Pl]') AND parent_object_id = OBJECT_ID(N'[dbo].[Vectors_Val]'))
ALTER TABLE [dbo].[Vectors_Val] CHECK CONSTRAINT [FK_Vectors_Val_Vectors_Pl]
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'ViewCompetencyDescriptionVal', NULL,NULL))
	EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "cv"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 361
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cp"
            Begin Extent = 
               Top = 28
               Left = 486
               Bottom = 169
               Right = 745
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewCompetencyDescriptionVal'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'ViewCompetencyDescriptionVal', NULL,NULL))
	EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewCompetencyDescriptionVal'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'ViewCriteriaVal', NULL,NULL))
	EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "cv"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 250
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cp"
            Begin Extent = 
               Top = 19
               Left = 330
               Bottom = 160
               Right = 625
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewCriteriaVal'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'ViewCriteriaVal', NULL,NULL))
	EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewCriteriaVal'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'ViewSaberCriteriaVal', NULL,NULL))
	EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "cv"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 288
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cp"
            Begin Extent = 
               Top = 54
               Left = 385
               Bottom = 226
               Right = 669
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewSaberCriteriaVal'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'ViewSaberCriteriaVal', NULL,NULL))
	EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewSaberCriteriaVal'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'ViewSabersDescriptionVal', NULL,NULL))
	EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "cv"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 322
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cp"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 316
               Right = 307
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewSabersDescriptionVal'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'ViewSabersDescriptionVal', NULL,NULL))
	EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewSabersDescriptionVal'
GO
USE [master]
GO
