<div>
    <form #loginForm="ngForm">
      <div>
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          #emailField="ngModel"
          required
          email
          placeholder="Email"
        />
      </div>
      <div>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          #passwordField="ngModel"
          required
          minlength="6"
          placeholder="Password"
        />
      </div>
      <div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>
  